################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rackbook/FileContentIndex/c2245491-395f-4d16-b478-11184d94a6df.vsidx
